<app-Loading *ngIf="!IsLoaded" class="loading"></app-Loading>
<div class="container" >
  <div class="centerDiv">
    <div class="head" >
      <img src="{{item.imageUrl}}"/>
      <h1>{{item.fullName}}</h1>
      
      <div class="info-sec">
        <h3><b>{{item.followCounter}}</b>  Followers</h3>
        <h3><b>{{item.followingCounter}}</b>  Following</h3>
      </div>
      <div class="buttondiv">
        <button (click)="Follow(id)" *ngIf="isFollowed == false && UserId != id">Follow</button>
        <button (click)="Follow(id)" *ngIf="isFollowed == true && UserId != id">Unfollow</button>
        <button  *ngIf="UserId == id">Account Details</button>
        
      </div>
    </div>
    
    
  </div>
  <div class="centerbuttomDiv">
    <div  >

      <app-Post class="post"  *ngFor="let post of item.posts" [item]="post"></app-Post>
 
    </div>
   

  </div>
</div>
