.container{
     width: 100vw;
     background-color: #18191A;
     padding-bottom: 5vh;
     min-height: 100vh;
     
}

.centerDiv{
     width:100vw;
     display: flex;
     justify-content: center;
     
     
}
.centerbuttomDiv{
     width:100vw;
     display: flex;
     justify-content: center;
}

.about{
     
     text-align: center;
     color: #fff;
}
.head{
     
     margin-top: 5vh;
}
h1{
     padding-top: 1vh;
     color: #fff;
     text-align: center;
     text-transform: capitalize;
     
}

.head img{
     border-radius: 50px;
     max-height: 500px;
     max-width: 100vw;
}

.info-sec{
     padding-top: 1vh;
     color: #fff;
     justify-content: space-between;
     display: flex;
   
     
}
.info-sec h3{
     font-weight: 200;
     font-size: 22px;
}
.loading{
     position: fixed;

}
.buttondiv{
     padding-top: 3vh;
     width:100%;
     display: flex;
     justify-content: center;
}
.buttondiv button{
     border-radius: 10px;
     width: 150px;
     height: 40px;
     font-size: 20px;
}

@media (max-width:1150px) {
     .head img{max-height: 300px;}

     .centerDiv{
          margin-top: 80px;
     }
     
     .head{
     
          margin-top: 3vh;
     }
     .info-sec h3{
          font-weight: 200;
          font-size: 18px;
     }
}