<div class="TopNavbar" *ngIf="currentWindowWidth < 1150">
  <div class="main">
    <img src="{{item.imgUrl}}" *ngIf="item != null"  (click)="AccountMenufunc()">
    <img src="https://www.iconpacks.net/icons/1/free-user-icon-295-thumb.png" *ngIf="item == null"  (click)="AccountMenufunc()">
   
    <img src="https://icons-for-free.com/download-icon-my+network+network+user+icon-1320184672467832160_512.png" (click)="scrollUp(true)">
    <img src="https://www.iconpacks.net/icons/1/free-home-icon-189-thumb.png" routerLink="" (click)="scrollUp(true)">
    <img src="https://cdn-icons-png.flaticon.com/512/2132/2132690.png" routerLink="explore" (click)="scrollUp(false)">
    <img src="https://cdn-icons-png.flaticon.com/512/6915/6915254.png" routerLink="notifications" (click)="scrollUp(false)">

  </div>

</div>
<div class="AccountopenMenu" *ngIf="AccountMenu">
          <h2 *ngIf="item != null" (click)="NavigateToProfile()" (click)="AccountMenufunc()" >Profile</h2>
          <h2 *ngIf="item != null"  (click)="AccountMenufunc()" >Account Details</h2>
          <h2 *ngIf="item == null" routerLink="/login" (click)="AccountMenufunc()" >Login</h2>
          <h2 *ngIf="item == null" routerLink="/register" (click)="AccountMenufunc()" >Register</h2>
          <h2 *ngIf="item != null"  (click)="AccountMenufunc()" >Settings</h2>
          <h2 *ngIf="item != null" (click)="Logout()" (click)="AccountMenufunc()">Logout</h2>
</div>