<div class="container">
  <div class="centerDiv">
    <div class="head" >
      <img src="{{item.imageUrl}}"/>
      <h1>{{item.fullName}}</h1>
      
      <div class="info-sec">
        <h3><b>{{item.followingCounter}}</b>  Followers</h3>
        <h3><b>{{item.followCounter}}</b>  Following</h3>
      </div>
      <div class="buttondiv">
        <button>Follow</button>

      </div>
    </div>
    
    
  </div>
  <div class="centerbuttomDiv">
    <div  >

      <app-Post class="post"  *ngFor="let post of item.posts" [item]="post"></app-Post>
 
    </div>
   

  </div>
</div>
