.container{
     width: 100vw;
     background-color: #18191A;
     min-height: 200vh;
     display: flex;
     
}

.centerDiv{
     width:100vw;
     display: flex;
     justify-content: center;
     
     
}
.feed{
     margin-top: 8vh;
}
h1{
     color: #fff;
}