<div class="main">
     <div class="head">
          
          <img *ngIf="item != null"  src="{{item.imgUrl}}" >
          <img *ngIf="item == null"  src="http://cdn.onlinewebfonts.com/svg/img_183066.png" >
          <input type="text" placeholder="What would you like to share?" [(ngModel)]="ContentText" />
          <button (click)="ShowImg = true" *ngIf="!ShowImg" class="btn" ><span class="material-symbols-outlined">
               add_photo_alternate
               </span></button>
          <button (click)="ShowImg = false"  *ngIf="ShowImg" class="btn"><span class="material-symbols-outlined">
               image_not_supported
               </span></button>
               
          </div>
          <div *ngIf="ShowImg">
               <label >Image Link :</label>
               <input [(ngModel)]="ImageText"    type="text"> 
               
          </div>
               <button class="postbtn" (click)="AddPost()">Post</button>
     
</div>
