.container{
     width: 100vw;
     background-color: #18191A;
     min-height: 100vh;
    
     padding-bottom: 5vh;

}
h1{
     padding-top: 10vh;
     text-align: center;
     color: #fff;
}

.Name{
     padding-top: 0px;
}
h2{
     color: #fff;
 
}
.Edit-Section{
     margin-top: 3vh;
     width: 700px;
     padding-bottom: 70px;
     border-radius: 20px;
     background-color: #ffffff52;
}
.edit{
     background-color: transparent;
     color: #0084ff;
     font-size: 25px;
     border: 0px;
}
.edit:hover{
     -webkit-transition: 0.5s;
     transition: 0.5s;
     color: #007dd183;
  
}
input{
     font-size: 25px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}
.save-btn{
     margin-top: 20px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     font-size: 25px;
     width: 100px;
}
.center{
     width:100vw;
     display: flex;
     justify-content: center;
     
     
}
img{
     margin-top: 3vh;
     display: block;
  margin-left: auto;
  margin-right: auto;
 border-radius: 30px;
  max-height: 300px;
}

.TopRow{
     padding: 30px;
     display: flex;
     justify-content: space-between;
}