<!-- <app-Loading *ngIf="!IsLoaded" class="loading"></app-Loading> -->
<div class="container" >
    <h1>Edit Account</h1>
    <div class="center">
      <div >
        <div class="Edit-Section">
          <div class="TopRow" >    

              <h2>Full Name</h2>
              <button class="edit" (click)="NameEditFunc()">Edit</button>

          </div>
          <h1 class="Name">{{user.fullName}}</h1>
          <div *ngIf="NameEdit">
            <input >
            <button class="save-btn">Save</button>
          </div>
          
        </div>

        <div class="Edit-Section">
          <div class="TopRow" >
            <h2>Profile Picture</h2>
            <button class="edit" (click)="ImageEditFunc()">Edit</button>
          </div>
      
          <div *ngIf="ImageEdit">
            <input placeholder="Image Url" style="font-size: 18px; width: 300px;" >
            <button class="save-btn">Save</button>
          </div>
          
          <img src="{{user.imgUrl}}">
        </div>
        
        
      </div>

    </div>
</div>