<!-- <app-Loading *ngIf="!IsLoaded" class="loading"></app-Loading> -->
<div class="container" >
    <h1>Edit Account</h1>
    <div class="center">
      <div >
        <div class="Edit-Section">
          <div class="TopRow" >    

              <h2>Full Name</h2>
              <button>Edit</button>

          </div>
          <h1 class="Name">{{user.fullName}}</h1>
        </div>

        <div class="Edit-Section">
          <div class="TopRow" >
            <h2>Profile Picture</h2>
            <button>Edit</button>
          </div>
          <img src="{{user.imgUrl}}">
        </div>
        
        
      </div>

    </div>
</div>