.main{
    
     width: 25vw;
     background-color: rgb(46, 46, 95);
     border-radius: 20px;
}

.head{
     display: flex;
     padding-bottom: 20px;
}

img{
     margin-left: 30px;
     margin-top: 20px;
     max-width: 90px;
     border-radius: 50px;
     
}
input{
     
     margin-top: 30px;
     margin-left: 10px;
     border: 2px solid #ccc;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     outline: none;
     font-size: 23px;
     color: #ffff;
     background-color: transparent;
     height: 60px;
     width: 80%;
     border-radius: 30px;
}

.addimg{
     display: flex;
  justify-content: center;
  align-items: center;
}
.addimg button:hover{
     background-color: #cccccc46;
}
.addimg button{
     width: 50%;
     height: 40px;
     font-size: 20px;
     border-radius: 30px;
     background-color: transparent;
     color: #fff;
     border: 1px solid #ffffff;
}

.postbtn{
     width: 150px;
     height: 40px;
     font-size: 20px;
     border-radius: 20px;
     float: right;
     margin-right: 40px;
}
.postbtn:hover{
    background-color: #ccc;
}