<div class="main">
     <div class="profilerow" *ngIf="item != null" (click)="NavigateToProfile()">
          <img *ngIf="item.imgUrl != null" src="{{item.imgUrl}}" >
          <h2>{{item.fullName}}</h2>
     </div>
     <div class="row" *ngIf="item != null" routerLink="home" (click)="scrollUp(true)"> 
          <img src="https://www.iconpacks.net/icons/1/free-home-icon-189-thumb.png" >
          <h2 routerLink="">Home</h2>
     </div>
     <div class="row" routerLink="explore" (click)="scrollUp(false)">
          <img src="https://cdn-icons-png.flaticon.com/512/2132/2132690.png" >
          <h2 >Explore</h2>
     </div>
     <div class="row" *ngIf="item != null" routerLink="notifications" (click)="scrollUp(false)">
          <img src="https://cdn-icons-png.flaticon.com/512/6915/6915254.png" >
          <h2 >Notifications</h2>
     </div>
     <div class="row">
          <img src="https://www.iconpacks.net/icons/1/free-user-icon-295-thumb.png" >
          <div class="Settings-row" (click)="AccountMenufunc()"> 
               <h2>Account</h2>
               <span *ngIf="AccountMenu" class="material-symbols-outlined">
                    expand_less
                    </span>
               <span *ngIf="!AccountMenu" class="material-symbols-outlined">
                    expand_more
                    </span>

          </div>
          
     </div>

     <div class="Settings" *ngIf="AccountMenu"> 
          

          <h2 *ngIf="item == null" routerLink="/login" >Login</h2>
          <h2 *ngIf="item == null" routerLink="/register" >Register</h2>
          <h2 *ngIf="item != null" (click)="Logout()">Logout</h2>
    
 
      </div>
     
     <div class="row">
          <img src="https://img.icons8.com/color/512/settings--v1.png" >
          <div class="Settings-row" (click)="SettingsMenufunc()"> 
               <h2>Settings</h2>
               <span *ngIf="SettingsMenu" class="material-symbols-outlined">
                    expand_less
                    </span>
               <span *ngIf="!SettingsMenu" class="material-symbols-outlined">
                    expand_more
                    </span>

          </div>
          
     </div>
     
   
     <div class="Settings" *ngIf="SettingsMenu"> 
          
         <h2>Saved</h2>
         <h2>Dark Mode</h2>
         <h2>Account Details</h2>

   

     </div>

</div>