<div class="main">

  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <div class="form" action="#" *ngIf="index == 1">
        <h1>Sign Up</h1>
        <h3>Personal Details</h3>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span> -->
        <input type="firstname" placeholder="First Name" [(ngModel)]="FirstnameText" />
        <input type="lastname" placeholder="Last Name" [(ngModel)]="LastnameText" />
        <input type="text" placeholder="Profile Image Url" [(ngModel)]="ImageText" />
        
        <select [(ngModel)]="GenderSelect" >
          <option selected disabled value="Select Gender" >Select Gender</option>
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
        <a href="#">Forgot your password?</a>
        <button (click)="NextPageReg()" >Next</button>
      </div>
      <div class="form" action="#" *ngIf="index == 2">
        <h1>Sign Up</h1>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span> -->
        <input type="email" placeholder="Username" [(ngModel)]="UsernameText" />
        <input type="password" placeholder="Password" [(ngModel)]="PasswordText" />
        <input type="password" placeholder="Confirm Password" [(ngModel)]="ConfirmPasswordText" />
    
        
        <a href="#">Forgot your password?</a>
        <button (click)="SignUp()" >Sign Up</button>
        <br>
        <button (click)="index = 1" >Back</button>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" routerLink="/login">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>