.container{
     width: 100vw;
     background-color: #18191A;
     min-height: 200vh;
     display: flex;
     
}

.centerDiv{
     width:100vw;
     display: flex;
     justify-content: center;
     
     
}
.feed{
     margin-top: 8vh;
}

.sidebar{
     right: 10vw;
     top: 8vh;
     position: fixed;
}

.friedsnavbar{
     left: 10vw;
     top: 8vh;
     position: fixed;
}