<div class="container">
  <div class="centerDiv">
    <div class="feed" >
      <app-AddPost class="Addpost"></app-AddPost>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
      <app-Post></app-Post>
    </div>
</div>
<app-FriendsNavbar class="friedsnavbar"></app-FriendsNavbar>
<app-SideNavbar class="sidebar"></app-SideNavbar>
</div>
