.container{
     
     width: 100vw;
     background-color: #18191A;
     min-height: 200vh;
     display: flex;
     
}
.comment{
     
}
.centerDiv{
     width:100vw;
     display: flex;
     justify-content: center;
     
     
}
.feed{
     margin-top: 8vh;
}

@media (max-width:1150px) {
     .feed{
          margin-top: 1vh;
     }
  
}