<div class="post" >
  <div class="top">
    <img (click)="NavigateToProfile(item.userId)" *ngIf="item.userImg != null" src="{{item.userImg}}">
    <div class="topHeadline">
      <h2 (click)="NavigateToProfile(item.userId)">{{item.fullName}}</h2>
      <p>{{item.post.createdTime | dateAsAgo}}</p>
    </div>
          <button class="headbtn"><span class="material-symbols-outlined">
            more_vert
            </span></button>
          <button class="headbtn" *ngIf="item.userId == userId"><span class="material-symbols-outlined">
            close
            </span></button>
  </div>
<div style="cursor: pointer;" (click)="NavigateToPost(item.post.id)" > 
  <p>{{item.post.content}}</p>
  <img *ngIf="item.post.imgUrl != 'string'"  src="{{item.post.imgUrl}}">
  
  <div class="postinfo">
    <p class="likes">{{item.likesCounter}} Likes</p>
    <p class="comments">{{item.commentsCounter}} Comments</p>
  </div>

</div>
  <div class="btnaction">
    <button id="like" (click)="Like(item.post.id)" [ngStyle]="{'background-color': (IsLiked == true) ? '#73c7af' : ''}" >
      <span *ngIf="!IsLiked" class="material-symbols-outlined">
        thumb_up
        </span>
      <span *ngIf="IsLiked" id="Like" class="material-symbols-outlined"><style>
        #Like {
          font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
        </style>
        thumb_up
        </span>
      Like</button>
    <button (click)="Comment(item.post.id,input.value)" (click)="input.value='' "><span class="material-symbols-outlined">
      mode_comment
      </span> Comment</button>
    <button><span class="material-symbols-outlined">
      share
      </span> Share</button>
  </div>
  <div class="commentsec">
    
    <input #input  (keyup.enter)="Comment(item.post.id,input.value)" (keyup.enter)="input.value='' " class="comment" type="text" />
    <!-- <button class="sendbtn">Send</button> -->

  </div>
  <div class="comment-section">
    <div  *ngFor="let item of item.comments;let i = index" > 
      
      <div class="commentbox" *ngIf="i < index">
      <img (click)="NavigateToProfile(item.comment.userId)" src="{{item.userImg
      
      

      }}" />
      <div>
        
          <h2 class="commentUsername" (click)="NavigateToProfile(item.comment.userId)">{{item.userFullName}}</h2>
        
        <h2 *ngIf="!item.userFullName">Anonymous</h2>
        <h3 >{{item.comment.content}}</h3>
        
        
      </div>
      <div>
        <button class="deletebtn" *ngIf="item.comment.userId == userId" ><span class="material-symbols-outlined">
          delete
          </span></button>
        <p class="commentTime">{{item.comment.createdTime |  dateAsAgo }}</p>

      </div>
        
     
    </div>
    


    </div>
    <a *ngIf="index == 3 && item.comments.length > 3"  (click)="index = 999" >Show all comments</a>
    <a *ngIf="index == 999&& item.comments.length > 3"  (click)="index = 3" >Close </a>
  </div>
</div>