<div class="post" >
  <div class="top">
    <img (click)="NavigateToProfile(item.userId)" *ngIf="item.userImg != null" src="{{item.userImg}}">
    <div class="topHeadline">
      <h2 (click)="NavigateToProfile(item.userId)">{{item.fullName}}</h2>
      <p>{{item.post.createdTime | dateAsAgo}}</p>
    </div>
          <button class="headbtn">...</button>
          <button class="headbtn">X</button>
  </div>

  <p>{{item.post.content}}</p>
  <img *ngIf="item.post.imgUrl != 'string'" (click)="NavigateToPost(item.post.id)" src="{{item.post.imgUrl}}">
  
  <div class="postinfo">
    <p class="likes">{{item.likesCounter}} Likes</p>
    <p class="comments">{{item.commentsCounter}} Comments</p>
  </div>
  <div class="btnaction">
    <button id="like" (click)="Like(item.post.id)" [ngStyle]="{'background-color': (IsLiked == true) ? '#73c7af' : ''}" >Like</button>
    <button (click)="Comment(item.post.id,input.value)" (click)="input.value='' ">Coment</button>
    <button>Share</button>
  </div>
  <div class="commentsec">
    
    <input #input  (keyup.enter)="Comment(item.post.id,input.value)" (keyup.enter)="input.value='' " class="comment" type="text" />
    <!-- <button class="sendbtn">Send</button> -->

  </div>
  <div class="comment-section">
    <div  *ngFor="let item of item.comments;let i = index" > 
      <div class="commentbox" *ngIf="i < index">
      <img (click)="NavigateToProfile(item.comment.userId)" src="{{item.userImg
      
      

      }}" />
      <div>
        <h2 class="commentUsername" (click)="NavigateToProfile(item.comment.userId)">{{item.userFullName}}</h2>
        <h2 *ngIf="!item.userFullName">Anonymous</h2>
        <h3 >{{item.comment.content}}</h3>
        
      </div>
      
      <p class="commentTime">{{item.comment.createdTime |  dateAsAgo }}</p>
    </div>


    </div>
    <a *ngIf="index == 3 && item.comments.length > 3"  (click)="index = 999" >Show all comments</a>
    <a *ngIf="index == 999&& item.comments.length > 3"  (click)="index = 3" >Close </a>
  </div>
</div>