<div class="post">
  <div class="top">
    <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t39.30808-6/295120901_5655883821131158_2671293067294845728_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=6XrJYlwhdmQAX92zoI3&_nc_ht=scontent.ftlv5-1.fna&oh=00_AfCP6QcBDkEn3PHp88rdBeS5mAvbse_cTZs5Zh8EAWw4-w&oe=63FB6B8D">
    <div class="topHeadline">
      <h2>Josh Noah</h2>
      <p>2 Hours ago</p>
    </div>
          <button class="headbtn">...</button>
          <button class="headbtn">X</button>
  </div>

  <p>Hey everyone Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque vero dolorem quod odit eos qui mollitia temporibus neque vel praesentium enim, quia ullam, quam fuga. Debitis sunt deleniti nisi illo!</p>
  <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t39.30808-6/331751225_924310478828914_4205567845766290901_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=994qyNmz_RIAX_ss9Re&tn=JRfAU_jA_wt2UYYH&_nc_ht=scontent.ftlv5-1.fna&oh=00_AfCDd4gDqJHk4F1oboprwHZTBHRJX4lN5aCBdQSQK2polg&oe=63FAF8B1">
  
  <div class="postinfo">
    <p class="likes">144 Likes</p>
    <p class="comments">36 Comments</p>
  </div>
  <div class="btnaction">
    <button>Like</button>
    <button>Coment</button>
    <button>Share</button>
  </div>
  <div class="commentsec">
    <input class="comment" type="text" />
    <!-- <button class="sendbtn">Send</button> -->

  </div>

</div>