.container{
     width: 100vw;
     background-color: #18191A;
     min-height: 100vh;
     display: flex;
     padding-bottom: 10vh;
}

.centerDiv{
     width:100vw;
     display: flex;
     justify-content: center;
     
     
}
.feed{
     margin-top: 4vh;
}
h1{
     color: #fff;
}

.loading{
     position: fixed;

}

@media (max-width:1150px) {
     .feed{
          margin-top: 9vh;
     }
  
}